.TicketContent{
    background-color:#424242;
    min-width: 500px;
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    border:1px solid #3498db;
    border-radius: 3px;
}
.ticketPattern {

}