.App {
  display: grid;
  grid-template-areas:
          "hed"
          "nav"
          "cont";
  grid-template-rows:50px 50px 1fr;
  grid-auto-columns: 1fr;
}

.App-logo {
  height: 50px;
  width: 50px;
  padding-left: 10px;
  padding-top: 5px;
}

.App-header {
  background-color: #212121;
  grid-area: hed;
  color:white;
}
.App_Nav{
  background-color: #171C20;
  border-bottom: 1px solid #e5e5e5;
}
.App_Content{
  background-color: #171C20;
  grid-area: cont;
}
.App-link {
  color: #61dafb;
  text-decoration:none;
}
