.App {
    display: grid;
    grid-template-areas: "hed" "cont";
    grid-template-rows: 50px 1fr;
    grid-auto-columns: 1fr;
}

.App_logo {
    height: 50px;
    width: 50px;
    padding-left: 10px;
    padding-top: 5px;
}

.App_header {
    background-color: #212121;
    grid-area: hed;
    color: white;
}

.App_Content {
    height: 100%;
    overflow: hidden;
    background-color: #171C20;
    grid-area: cont;
}

.App-link {
    color: #61dafb;
    text-decoration: none;
}
