.TicketEnrolled {
    border-radius: 3px;
    margin: 10px;
    width: 90%;
    height: 50px;
    background-color: #434243;
    border-bottom: 1px solid #3498db;
    border-top: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-left: 5px solid red;
    font-size: 20px;
}

.TicketName {
    margin-left: 10px;
}