.TicketsPage{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.TicketsContent{
    background-color:#424242;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:1px solid #3498db;
    border-radius: 3px;
}
.NameTickets{
    left:5%;
    right:5%;
    width:90%;
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 16px;
    font-weight: bold;
    text-align: center
}
.Name1Tickets{
    left:5%;
    right:5%;
    width:90%;
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 16px;
    font-weight: bold;
}
.TicketScroll{
    overflow-y: scroll;
    height: 260px;
}