.RegistrationPage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.ForNavLinkReg {
    width: 100%;
    background-color: #727272;
    display: grid;
    grid-template-areas: "n1 n2";
    grid-auto-columns: auto;
}

.RegistrationContent {
    background-color: #424242;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #3498db;
    border-radius: 3px;
}

.NameReg {
    left: 5%;
    right: 5%;
    width: 90%;
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 16px;
    font-weight: bold;
}

.ForInputReg {
    left: 10%;
    right: 10%;
    width: 85%;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
}

.UserInputReg {
    width: 100%;
    padding: 4px 6px;
    background-color: #424242;
    border: 1px solid #A1A6B0;
    color: white;
    border-radius: 3px;
    -webkit-transition: border linear .05s, box-shadow linear .05s;
    -moz-transition: border linear .05s, box-shadow linear .05s;
    -o-transition: border linear .05s, box-shadow linear .05s;
    transition: border linear .05s, box-shadow linear .05s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
}

.RealInputReg {
    width: 100%;
    padding: 4px 6px;
    background-color: #424242;
    border: 1px solid #A1A6B0;
    color: white;
    border-radius: 3px;
    -webkit-transition: border linear .05s, box-shadow linear .05s;
    -moz-transition: border linear .05s, box-shadow linear .05s;
    -o-transition: border linear .05s, box-shadow linear .05s;
    transition: border linear .05s, box-shadow linear .05s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
}

.PasswordInputReg {
    width: 100%;
    padding: 4px 6px;
    background-color: #424242;
    border: 1px solid #A1A6B0;
    color: white;
    border-radius: 3px;
    -webkit-transition: border linear .05s, box-shadow linear .05s;
    -moz-transition: border linear .05s, box-shadow linear .05s;
    -o-transition: border linear .05s, box-shadow linear .05s;
    transition: border linear .05s, box-shadow linear .05s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
}

.RepPasswordInputReg {
    width: 100%;
    padding: 4px 6px;
    background-color: #424242;
    border: 1px solid #A1A6B0;
    color: white;
    border-radius: 3px;
    -webkit-transition: border linear .05s, box-shadow linear .05s;
    -moz-transition: border linear .05s, box-shadow linear .05s;
    -o-transition: border linear .05s, box-shadow linear .05s;
    transition: border linear .05s, box-shadow linear .05s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
}

.EmailInputReg {
    width: 100%;
    padding: 4px 6px;
    background-color: #424242;
    border: 1px solid #A1A6B0;
    border-radius: 3px;
    -webkit-transition: border linear .05s, box-shadow linear .05s;
    -moz-transition: border linear .05s, box-shadow linear .05s;
    -o-transition: border linear .05s, box-shadow linear .05s;
    transition: border linear .05s, box-shadow linear .05s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
}

.CancelNavLink {
    grid-area: n1;
    text-decoration: none;
    margin: 8px;
    background-color: #F7F7F9;
    background-image: linear-gradient(to bottom, #4e4c4c, #807f80);
    border: 1px solid rgba(71, 87, 120, 0.3);
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    border-radius: 3px;
}

.CancelNavLink:hover {
    background-color: #2980b9;
    border: 1px solid #2980b9;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    color: white;
}

.ForInputReg {
    margin: 8px;
}

.ButNavLinkReg {
    text-decoration: none;
    margin: 8px;
    background-color: #2980b9;
    border: 1px solid #2980b9;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    border-radius: 3px;
    grid-area: n2;
}

.ButNavLinkReg:hover {
    border: 1px solid #4e4c4c;

}